name: Publish to Github and Crates.io
on:
  workflow_call


jobs:
  publish_github:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: |
          CHANGELOG.md