name: Build

on:
  push:
    paths:
      - ".github/**"
      - "src/**"
      - "tests/**"
      - "*.rs"
      - "Cargo.toml"
      - "Cargo.lock"
env:
  IS_RELEASE: ${{ startsWith(github.ref, 'refs/tags/v') }}

jobs:
  tests:
    uses: ./.github/workflows/rust-test.yml

  build-macos-x86_64:
    runs-on: macos-latest

    steps:

      - uses: actions/checkout@v4
      - name: build-macos-x86_64
        run: rustup target add x86_64-apple-darwin && cargo build --release --target x86_64-apple-darwin

      - name: show
        run: ls ./target/x86_64-apple-darwin
      - uses: actions/upload-artifact@v4
        name: Upload binary artifact
        with:
          path: ./target/x86_64-apple-darwin/*
          retention-days: 90
          if-no-files-found: error
          name: days-counter_x86_64-apple-darwin

  build-macos-aarch64:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: build-macos-aarch64
        run: rustup target add aarch64-apple-darwin && cargo build --release --target aarch64-apple-darwin

      - uses: actions/upload-artifact@v4
        name: Upload binary artifact
        with:
          path: ./target/release/*
          retention-days: 90
          if-no-files-found: error
          name: days-counter_aarch64-apple-darwin