name: Test

on: workflow_call

env:
  CARGO_TERM_COLOR: always

jobs:
  a_tests_on_linux_amd64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: cargo test test_calculator_create_all_calendar --verbose



  a_tests_on_windows_amd64:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: cargo test test_calculator_create_all_calendar --verbose



  a_tests_on_macos_15-intel:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: cargo test test_calculator_create_all_calendar --verbose


  a_tests_on_macos-arm64:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: cargo test test_calculator_create_all_calendar --verbose


  b_tests_on_linux_amd64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: cargo test test_calculator_two_calendar --verbose



  b_tests_on_windows_amd64:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: cargo test test_calculator_two_calendar --verbose



  b_tests_on_macos_15-intel:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: cargo test test_calculator_two_calendar --verbose


  b_tests_on_macos-arm64:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: cargo test test_calculator_two_calendar --verbose
