name: Build

on:
  push:
    paths:
      - ".github/**"
      - "src/**"
      - "tests/**"
      - "*.rs"
      - "Cargo.toml"
      - "Cargo.lock"
    tags:
      - "v*"
env:
  IS_RELEASE: ${{ startsWith(github.ref, 'refs/tags/') }}
  MAX_DAY: 7


jobs:
  tests:
    uses: ./.github/workflows/rust-test.yml

  build-macos-x86_64:
    runs-on: macos-15-intel

    steps:
      - uses: actions/checkout@v4
      - name: build-macos-x86_64
        run: rustup target add x86_64-apple-darwin && cargo build --release --target x86_64-apple-darwin

      - name: show
        run: ls ./target/x86_64-apple-darwin
      - uses: actions/upload-artifact@v4
        name: Upload binary artifact
        with:
          path: ./target/x86_64-apple-darwin/release/days_counter
          retention-days: 7
          if-no-files-found: error
          name: days-counter_x86_64-apple-darwin

  build-macos-aarch64:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: build-macos-aarch64
        run: rustup target add aarch64-apple-darwin && cargo build --release --target aarch64-apple-darwin

      - uses: actions/upload-artifact@v4
        name: Upload binary artifact
        with:
          path: ./target/aarch64-apple-darwin/release/days_counter
          retention-days: 7
          if-no-files-found: error
          name: days-counter_aarch64-apple-darwin

  build-linux-x86_64-gnu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build-linux-x86_64-gnu
        run: rustup target add x86_64-unknown-linux-gnu && cargo build --release --target x86_64-unknown-linux-gnu

      - uses: actions/upload-artifact@v4
        name: Upload binary artifact
        with:
          path: ./target/x86_64-unknown-linux-gnu/release/days_counter
          if-no-files-found: error
          retention-days: 7
          name: days-counter_x86_64-unknown-linux-gnu

  build-windows-x86_64:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: build-windows-x86_64-msvc
        run: rustup target add x86_64-pc-windows-msvc && cargo build --release --target x86_64-pc-windows-msvc

      - uses: actions/upload-artifact@v4
        name: Upload binary artifact
        with:
          path: ./target/x86_64-pc-windows-msvc/release/days_counter.exe
          if-no-files-found: error
          retention-days: 7
          name: days-counter_x86_64-pc-windows-msvc

  build_macos_universal:
    needs: [build-macos-x86_64, build-macos-aarch64]
    runs-on: macos-latest
    steps:
      - name: mkdir
        run: |
          mkdir ./x86
          mkdir ./arm

      - uses: actions/download-artifact@v4
        name: Download artifacts_arm_macos
        with:
          name: days-counter_aarch64-apple-darwin
          path: ./arm/
      - uses: actions/download-artifact@v4
        name: Download artifacts_x86_64_macos
        with:
          name: days-counter_x86_64-apple-darwin
          path: ./x86/

      - name: Merge artifacts
        run: |
          lipo  ./x86/days_counter  ./arm/days_counter -create -output days-counter_macos_universal

      - uses: actions/upload-artifact@v4
        name: Upload binary artifact
        with:
          path: ./days-counter_macos_universal
          if-no-files-found: error
          retention-days: 7
          name: days-counter_macos_universal


  build_loongarch64_on_x86:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Docker-based cross compilation
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/loong64

      - name: Build with cross
        run: |
          cargo install cross --git https://github.com/cross-rs/cross

          cross build --release --target loongarch64-unknown-linux-gnu

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: loongarch64-binary
          path: ./target/loongarch64-unknown-linux-gnu/release/days_counter
          if-no-files-found: error

  publish_release_github:
    runs-on: ubuntu-latest
    needs: [tests, build_macos_universal, build-linux-x86_64-gnu, build-windows-x86_64, build-macos-x86_64, build-macos-aarch64,build_loongarch64_on_x86]
    if: github.ref_type == 'tag'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: init_mkdir
        run: |
          mkdir ./macos_amd64
          mkdir ./macos_arm64
          mkdir ./linux_amd64
          mkdir ./windows_amd64
      - name: Download_macos_x86
        uses: actions/download-artifact@v4
        with:
          name: days-counter_x86_64-apple-darwin
          path: ./macos_amd64/

      - name: Download_macos_arm64
        uses: actions/download-artifact@v4
        with:
          name: days-counter_aarch64-apple-darwin
          path: ./macos_arm64/

      - name: Download_linux_x86
        uses: actions/download-artifact@v4
        with:
          name: days-counter_x86_64-unknown-linux-gnu
          path: ./linux_amd64/

      - name: Download_windows_x86
        uses: actions/download-artifact@v4
        with:
          name: days-counter_x86_64-pc-windows-msvc
          path: ./windows_amd64/

      - name: Download_linux_loongarch64
        uses: actions/download-artifact@v4
        with:
          name: loongarch64-binary
          path: ./linux_loongarch64/

      - name: fetch_version
        run: |
          wget https://github.com/gnprice/toml-cli/releases/download/v0.2.3/toml-0.2.3-x86_64-linux.tar.gz
          tar -xzvf toml-0.2.3-x86_64-linux.tar.gz
          mv toml-0.2.3-x86_64-linux/toml .
          chmod +x toml
          RELEASE_VERSION=$(./toml get Cargo.toml package.version --raw)
          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV

      - name: rename
        run: |
          mv ./macos_amd64/days_counter ./macos_amd64/days-counter-v${RELEASE_VERSION}-x86_64-apple-darwin
          mv ./macos_arm64/days_counter ./macos_arm64/days-counter-v${RELEASE_VERSION}-aarch64-apple-darwin
          mv ./linux_amd64/days_counter ./linux_amd64/days-counter-v${RELEASE_VERSION}-x86_64-unknown-linux-gnu
          mv ./windows_amd64/days_counter.exe ./windows_amd64/days-counter-v${RELEASE_VERSION}-x86_64-pc-windows-msvc.exe
          mv ./linux_loongarch64/days_counter ./linux_loongarch64/days-counter-v${RELEASE_VERSION}-loongarch64-unknown-linux-gnu
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: CHANGELOG.md
          files: |
            ./macos_amd64/days-counter-v${{ env.RELEASE_VERSION }}-x86_64-apple-darwin
            ./macos_arm64/days-counter-v${{ env.RELEASE_VERSION }}-aarch64-apple-darwin
            ./linux_amd64/days-counter-v${{ env.RELEASE_VERSION }}-x86_64-unknown-linux-gnu
            ./windows_amd64/days-counter-v${{ env.RELEASE_VERSION }}-x86_64-pc-windows-msvc.exe
            ./linux_loongarch64/days-counter-v${{ env.RELEASE_VERSION }}-loongarch64-unknown-linux-gnu
            
