name: Build

on:
  push:
    paths:
      - ".github/**"
      - "src/**"
      - "tests/**"
      - "*.rs"
      - "Cargo.toml"
      - "Cargo.lock"
env:
  IS_RELEASE: ${{ startsWith(github.ref, 'refs/tags/v') }}

jobs:
  tests:
    uses: ./.github/workflows/rust-test.yml

  build-macos-x86_64:
#    needs: tests
    runs-on: macos-15-intel

    steps:
      - uses: actions/checkout@v4
      - name: build-macos-x86_64
        run: rustup target add x86_64-apple-darwin && cargo build --release --target x86_64-apple-darwin

      - name: show
        run: ls ./target/x86_64-apple-darwin
      - uses: actions/upload-artifact@v4
        name: Upload binary artifact
        with:
          path: ./target/x86_64-apple-darwin/release/days_counter
          retention-days: 7
          if-no-files-found: error
          name: days-counter_x86_64-apple-darwin

  build-macos-aarch64:
#    needs: tests
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: build-macos-aarch64
        run: rustup target add aarch64-apple-darwin && cargo build --release --target aarch64-apple-darwin

      - uses: actions/upload-artifact@v4
        name: Upload binary artifact
        with:
          path: ./target/aarch64-apple-darwin/release/days_counter
          retention-days: 7
          if-no-files-found: error
          name: days-counter_aarch64-apple-darwin

  build-linux-x86_64-gnu:
#    needs: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build-linux-x86_64-gnu
        run: rustup target add x86_64-unknown-linux-gnu && cargo build --release --target x86_64-unknown-linux-gnu

      - uses: actions/upload-artifact@v4
        name: Upload binary artifact
        with:
          path: ./target/x86_64-unknown-linux-gnu/release/days_counter
          if-no-files-found: error
          retention-days: 7
          name: days-counter_x86_64-unknown-linux-gnu

  build-windows-x86_64:
#    needs: tests
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: build-windows-x86_64-msvc
        run: rustup target add x86_64-pc-windows-msvc && cargo build --release --target x86_64-pc-windows-msvc

      - uses: actions/upload-artifact@v4
        name: Upload binary artifact
        with:
          path: ./target/x86_64-pc-windows-msvc/release/days_counter.exe
          if-no-files-found: error
          retention-days: 7
          name: days-counter_x86_64-pc-windows-msvc

  build_macos_universal:
    needs: [build-macos-x86_64, build-macos-aarch64]
    runs-on: macos-latest
    steps:
      - name: mkdir
        run: |
          mkdir  x86
          mkdir arm

      - uses: actions/download-artifact@v4
        name: Download artifacts_arm_macos
        with:
          name: days-counter_aarch64-apple-darwin
          path: ./arm
      - uses: actions/download-artifact@v4
        name: Download artifacts_x86_64_macos
        with:
          name: days-counter_x86_64-apple-darwin
          path: ./x86

      - name: unzip
        run: |
          ls
          ls x86

      - name: Merge artifacts
        run: |
          lipo  ./x86/days-counter  ./arm/days_counter -create -output days-counter_macos_universal

      - uses: actions/upload-artifact@v4
        name: Upload binary artifact
        with:
          path: ./days-counter_macos_universal
          if-no-files-found: error
          retention-days: 7
          name: days-counter_macos_universal

