name: Build

on:
  push:
    paths:
      - ".github/**"
      - "src/**"
      - "tests/**"
      - "*.rs"
      - "Cargo.toml"
      - "Cargo.lock"
env:
  IS_RELEASE: ${{ startsWith(github.ref, 'refs/tags/v') }}

jobs:
  tests:
    uses: ./.github/workflows/rust-test.yml
